.container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgIcon {
  width: 25px;
}

.container :global(p) {
  color: white;
  z-index: 2;
  font-size: 12px;
}

.container :global(h1) {
  color: white;
  font-size: 24px;
  z-index: 2;
  font-weight: 500;
}
.container :global(h2) {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  z-index: 2;
  font-weight: 400;
}
.container :global(h3) {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  z-index: 2;
  font-weight: 600;
}

.content {
  width: 100%;
  max-width: 550px;
  height: 100dvh;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gradient {
  width: 100%;
  height: 160px;
  background: #d9d9d9;
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 0),
    rgba(62, 62, 62, 0.75)
  );
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s;
}
.gradientOn {
  height: 200dvh;
  background: #d9d9d9;
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 0),
    rgba(62, 62, 62, 1)
  );
  transition: 0.7s;
}

.top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.topBack {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: hsla(47, 47%, 94%, 0.1);
  padding: 10px 20px;
  z-index: 2;
  border-radius: 100px;
  user-select: none;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  transition: 0.1s
    linear(
      0,
      -0.004 4.9%,
      -0.02 9.4%,
      -0.124 26.4%,
      -0.126 30.5%,
      -0.104 34.1%,
      -0.027 38.8%,
      0.108 43.1%,
      0.299 47%,
      0.817 55.2%,
      0.97 59.1%,
      1.071 63.4%,
      1.118 67.7%,
      1.127 72.6%,
      1.108 77.2%,
      1.019 90.7%,
      1.004 95.2%,
      1
    );
}
.topBack:active {
  transform: scale(0.95);
  box-shadow: none;
}

.top :global(p) {
  text-align: center;
}

.topInfo {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* _______________________ */
.bottom {
  height: 210px;
  transition: 0.7s;
  margin-top: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 100%;
  padding: 20px;
  padding-bottom: 80px;
  border-radius: 40px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: hsla(47, 47%, 94%, 0.1);
}
.detailVariable {
  height: 90%;
  transition: 0.7s;
}
.bottomName {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: fit-content;
}
.bottomDetail {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.bottomDetailContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bottomDetailContent :global(p:last-child) {
  text-align: end;
  font-size: 14px;
  font-weight: 500;
}
.bottomDetailInfo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.bottomAction {
  width: calc(100% - 40px);
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.bottomAction :global(p) {
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.bottomAction :global(a) {
  text-decoration: none;
}
.hubungiSaya {
  width: 100%;
  height: 50px;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  background-color: #f7f4e9;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  user-select: none;
  box-shadow: 0px 0px 10px 0px rgba(247, 244, 233, 0.49);
}
.hubungiSaya:active {
  transform: scale(0.95);
  box-shadow: none;
  transition: 0.3s
    linear(
      0,
      -0.004 4.9%,
      -0.02 9.4%,
      -0.124 26.4%,
      -0.126 30.5%,
      -0.104 34.1%,
      -0.027 38.8%,
      0.108 43.1%,
      0.299 47%,
      0.817 55.2%,
      0.97 59.1%,
      1.071 63.4%,
      1.118 67.7%,
      1.127 72.6%,
      1.108 77.2%,
      1.019 90.7%,
      1.004 95.2%,
      1
    );
}
.optionButton {
  width: 75px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(30, 70, 70, 1);
  background: #a4a4a4;
  user-select: none;
  background: linear-gradient(
    135deg,
    rgba(164, 164, 164, 1) 0%,
    rgba(30, 30, 30, 1) 50%,
    rgba(30, 30, 30, 1) 100%
  );
}
.optionButton:active {
  transform: scale(0.95);
  box-shadow: none;
  transition: 0.1s
    linear(
      0,
      -0.004 4.9%,
      -0.02 9.4%,
      -0.124 26.4%,
      -0.126 30.5%,
      -0.104 34.1%,
      -0.027 38.8%,
      0.108 43.1%,
      0.299 47%,
      0.817 55.2%,
      0.97 59.1%,
      1.071 63.4%,
      1.118 67.7%,
      1.127 72.6%,
      1.108 77.2%,
      1.019 90.7%,
      1.004 95.2%,
      1
    );
}
.optionButton :global(img) {
  width: 25px;
}
.bottomMahasiswaLain {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.bmlList {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.3s;
}
.bmlList:active {
  transform: scale(0.95);
  transition: 0.3s;
}
.bmlListImage {
  width: 100%;
  height: 130px;
  border-radius: 10px;
}
.bmlListName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 120px;
}
