.container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgIcon {
  width: 25px;
}

.container :global(p) {
  color: white;
  z-index: 2;
  font-size: 12px;
}

.container :global(h1) {
  color: white;
  font-size: 24px;
  z-index: 2;
  font-weight: 500;
}
.container :global(h2) {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  z-index: 2;
  font-weight: 400;
}

.content {
  width: 100%;
  max-width: 550px;
  height: 100dvh;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gradient {
  width: 100%;
  height: 160px;
  background: #d9d9d9;
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 0),
    rgba(62, 62, 62, 0.75)
  );
  position: absolute;
  top: 0;
  left: 0;
}

.top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.topBack {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: hsla(47, 47%, 94%, 0.1);
  padding: 10px 20px;
  z-index: 2;
  border-radius: 100px;
}

.top :global(p) {
  text-align: center;
}

/* _______________________ */
.bottom {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 40px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: hsla(47, 47%, 94%, 0.1);
}
.bottomName {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: fit-content;
}
.bottomAction {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hubungiSaya {
  width: 100%;
  height: 50px;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  background-color: #f7f4e9;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(247, 244, 233, 0.49);
}
.optionButton {
  width: 75px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(30, 70, 70, 1);
  background: #a4a4a4;
  background: linear-gradient(
    135deg,
    rgba(164, 164, 164, 1) 0%,
    rgba(30, 30, 30, 1) 50%,
    rgba(30, 30, 30, 1) 100%
  );
}
.optionButton :global(img) {
  width: 25px;
}
